[Unit]
Description=OpenVPN Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull ${docker_image}
ExecStart=/usr/bin/docker run -v openvpn-data:/etc/openvpn --rm -p 1194:1194/udp --cap-add=NET_ADMIN ${docker_image}

[Install]
WantedBy=multi-user.target